#border{
    display:grid;
    border: 5px solid rgb(73, 136, 71);
    width:402px;
    height: 402px;
    grid-template-columns: repeat(20,20px);
    grid-template-rows: repeat(20,20px);
    aspect-ratio: 1/1;
    border-radius: 15px;
}

#title{
    display: flex;
    justify-content: center;
    margin: 15px;
    background-color:rgba(115, 121, 144, 0.4);
    margin: 0px 0px 0px;
    align-items: center;
    height: 80px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
}

#container{
    display: grid;
    justify-content: center;
}

#reset-btn{
    border:none;
    border-radius: 25px;
    width: 35vw;
    height: 7vh;
    max-width: 150px;
    align-self: stretch;
    font-size: larger;
}

#container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


.snake{
    background-color: lightgreen;
    width: 20px;
    height: 20px;
    color: lightgreen;
    border: black solid 1px;
}

html ,body{
    overflow: hidden;
    height: 100%;
    margin: 0;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.food {
    background-color: red;
    width: 20px;
    height: 20px;
    color: red;
    border: black solid 1px;
}

.score{
    display:flex;
    justify-content: center;
    border: white solid;
    border-radius: 15px;
    max-width: 125px;
    color: white;
    padding:5px;
}
.over{
    display:flex;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: solid;
    background:whitesmoke;
    
}

#reset-btn:hover{
    border: solid 2px rgb(99, 141, 203);
}
#reset-btn:active{
    background-color: rgb(114, 114, 114);
}
.block{
    background-color: grey;
    width: 20px;
    height: 20px;
    border: solid 1px black;
    
}

.GameOver{
    position:relative;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    color: black;
    font-size: large;
    text-align: center;
    background-color: rgb(193, 193, 193);       
    padding: 10px;
    border: solid darkgreen;
    top: -250px;
    left: 139px;
}

.timer{
    display:flex;
    margin-right: 35px;
    justify-content: center;  
    color: white;
    border: solid white 3px;
    border-radius: 15px;
    padding: 5px;
}
.content-bar{
    display: flex;
    justify-content: space-around;
}
.win{
    position:relative;
    width: 190px;
    height: 35px;
    border-radius: 15px;
    border: none;
    color: black;
    font-size: large;
    text-align: center;
    background-color: rgb(193, 193, 193);       
    padding: 10px;
    border: solid darkgreen;
    top: -235px;
    left: 100px;
}

.hiddenbtn {
    display: none !important;
}

.note{
    position: relative;
    margin-top: 15px;
    left: 100px;
    width: 190px;
    height: 35px;
    color: black;
    background-color: gray;
    border: darkgreen 3px solid;
    border-radius: 15px;
    padding:5px;
}